body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
}

header {
    color: white;
    text-align: center;
    /* padding: 1rem; */
}

header button {
    background-color: white;
    border: none;
    color: #4CAF50;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

main {
    display: flex;
    /* margin: 2rem; */
}

aside {
    /* background-color: #417b5a; */
    flex: 0 0 25%; /* Change the width */
    height: calc(100vh - 4rem);
    overflow-y: auto;
    padding: 1rem;
    position: sticky;
    top: 2rem;
}

.menu-item {
    background-color: #02182b;  
    border-left: 3px solid rgb(115, 64, 142);
    /* border: none; */
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    text-align: left;
    width: 60px; /* Change the width */
    height: 60px; /* Change the height */
}

.submenu {
    background-color: #02182b;
    border-left: 3px solid rgb(112, 63, 138);
    /* height: calc(100vh - 4rem); */
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    position: absolute;
    left: 0.1rem; 
    top: 0;
    width: calc(80% - 40); 
}

section {
    flex: 1;
    margin-left: 2rem;
    text-align: center;
}

#video-input {
    display: block;
    margin-bottom: 1rem;
}

#apply-changes {
    background-color: #417b5a;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

@font-face {
    font-family: 'ClashDisplay-Variable';
    src: url('../fonts/ClashDisplay-Variable.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Variable.woff') format('woff'),
         url('../fonts/ClashDisplay-Variable.ttf') format('truetype');
         font-weight: 600;
         font-display: swap;
         font-style: normal;
  }


  @font-face {
    font-family: 'ClashDisplay-Variable-small';
    src: url('../fonts/ClashDisplay-Variable.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Variable.woff') format('woff'),
         url('../fonts/ClashDisplay-Variable.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }