<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>AI Video Editing</title>
</head>
<body>
    <header>
        <h1>Welcome to AI Video Editing</h1>
        <p>Edit your videos with the power of AI</p>
        <button onclick="goVideoEditing()" ">Start</button>
    </header>
    <section>
        <h2>How it works</h2>
        <video src="demo.mp4" controls></video>
    </section>
    <section>
        <h2>Our Partners</h2>
        <div class="partners">
            <!-- Add partner logos here -->
        </div>
    </section>
</body>
<script>
    function goVideoEditing() {
        window.location.href ='{{url_for("video_editing")}}' 
    }
</script>
</html>